
<!-- 
     ng-app is an attribute
     angular call them directives
-->
<html ng-app="spotifyApp">
  <head>
    <link rel="stylesheet" href="style.css">
    <script src="angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="SpotifyController">

  	<h1>Spotify app with AngularJS</h1>

  	<button ng-click="changeMessage()">Change message</button>

  	<p> {{ message }} </p>

  	<p> {{ person.name }} is from {{ person.city }}  </p>

  	<table class="artist-table">
  		<tr>
  			<th>Artist</th>
  			<th>Style</th>
  		</tr>
  		<tr ng-repeat="artist in artists">
  			<td>{{ artist.name }}</td>
  			<td>{{ artist.style }}</td>
  		</tr>
  	</table>

  </body>
</html>